<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Testing">
	<parameter name="driverPath" value="C:\chromedriver\chromedriver.exe"/>
	<test name='Click An Item And Verify Elements'>
		<classes>
			<class name= "AmazonTesting.AmazonItem"/>
		</classes>
	</test>
	<parameter name="driverPath" value="C:\chromedriver\chromedriver.exe"/>
	<test name='Navigate Best Seller Carousel'>
		<classes>
			<class name= "AmazonBestSellers.bestSellerCarousel"/>
		</classes>
	</test>
</suite>